@font-face {
    font-family: 'Cascadia Code PL';
    src: url('CascadiaCodePL.woff2') format('woff2'),
        url('CascadiaCodePL.woff') format('woff'),
        url('CascadiaCodePL.ttf') format('truetype');
    font-style: normal;
    font-display: block;
}

* {
  font-family: 'Cascadia Code PL';
  color: white;
}

pre{
  font-size: 85%;
}

p {
  font-size: 120%;
  font-weight: 380;
  color: white;
}

h1 {
  font-size: 200%;
  color: white;
  font-weight: 300;
}

body {
  background-color: #000;
}

.icons {
  margin: 50px auto;
  text-align: center;
}

.icon{
  display: inline-block;
  padding: 20px;
}
