@font-face {
    font-family: 'Cascadia Code PL';
    src: url('CascadiaCodePL.woff2') format('woff2'),
        url('CascadiaCodePL.woff') format('woff'),
        url('CascadiaCodePL.ttf') format('truetype');
    font-style: normal;
    font-display: block;
}

* {
  font-family: 'Cascadia Code PL';
  color: white;
  font-weight: 380;
}

center {
  width: 536px;
}

body {
  background-color: #181A1B;
  display: flex;
  justify-content: center;
	height: 100%;
	margin: 0;
	font-size: 120%;
}

#copyMail,#copyTelegram,#copyDiscord{
  text-decoration: underline;
}

#copyMail:hover,#copyTelegram:hover,#copyDiscord:hover{
  color: #aaa;
  cursor: pointer;
}

#contact {
	margin-bottom: 10px;
}

#pp {
  height: 140px;
  border-radius: 50%;
}

.contactDiv {
	width:340px;
}

.miniText {
	margin: 0;
	font-size: 70%;
	color: #888;
	margin-bottom: 24px;
}

.username {
	float: right;
}

.usernameLine {
	text-align: left;
	line-height: 52%;
}

.title {
	padding: 1em;
}

.name {
	background-color: #2b7226;
	padding-left: 5px;
	padding-right: 5px;
}

.tinyTitle {
	font-size:130%;
	color: #4c8dd9;
}

.aboutLine {
	line-height: 52%;
}

@media screen and (max-width: 400px) {
	body {
		font-size: 100%;
	}
	.contactDiv {
		width:300px;
	}
}

@media (hover: none) {
	#copyMail,#copyTelegram,#copyDiscord{
	  text-decoration: none;
	}
	#copyMail:hover,#copyTelegram:hover,#copyDiscord:hover{
	  color: white;
	  cursor: pointer;
	}
	.miniText {
		display: none;
	}
}
