@font-face {
    font-family: 'Cascadia Code PL';
    src: url('CascadiaCodePL.woff2') format('woff2'),
        url('CascadiaCodePL.woff') format('woff'),
        url('CascadiaCodePL.ttf') format('truetype');
    font-style: normal;
    font-display: block;
}

* {
  font-family: 'Cascadia Code PL';
  color: white;
  font-weight: 380;
}

center {
  width: 536px;
}

body {
  background-color: #272727;
  display: flex;
  justify-content: center;
	height: 100%;
	margin: 0;
	font-size: 120%;
}

.username {
	float: right;
}

.usernameLine {
	text-align: left;
	line-height: 52%;
}

.title {
	padding: 1em;
}

.name {
	background-color: #2b7226;
	padding-left: 5px;
	padding-right: 5px;
}

.tinyTitle {
	font-size:130%;
	color: #6895ba;
}

.aboutLine {
	line-height: 52%;
}

@media screen and (max-width: 699px) {
	#mainLogo {
		font-size: 8px;
	}
	#img1,#img2,#img3 {
		height: 54;
	}
	#icon1,#icon2,#icon3 {
		padding: 10px;
	}
}
